.chartBox {
   display: flex;
   height: 100%; 
}

.boxInfo {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.title img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: invert(1);
}

.chartInfo {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart {
    height: 100%;
    width: 100%;
}

.texts {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.percentage {
    font-weight: bold;
    font-size: 20px;
}

.duration {
    font-size: 14px;
}

.chartBox a {
    display: block;
    margin-top: 10px; /* Add space between "View all" and other elements */
}

/* Custom Tooltip Styles */
.custom-tooltip {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border-radius: 5px; /* Rounded corners for the tooltip */
    padding: 10px; /* Add some padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Slight shadow for depth */
}

.custom-tooltip p {
    margin: 0; /* Remove default margin */
    color: black; /* Set text color to black */
}
