.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--soft-bg);
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 10px;
}

.navbar .logo img {
  width: 40px;
  height: auto;
}

.navbar .icons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative; /* Para manejar el menú desplegable */
}

.icon {
  height: 30px;
}

/* Estilos para el menú de configuración desplegable */
.settings-menu {
  position: absolute;
  right: 0;
  top: 50px; /* Ajusta según la posición de tu navbar */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings-menu button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

.titulo {
  font-size: large;
}

.settings-menu button:hover {
  text-decoration: underline;
}
